*{
    margin: 0px;
   
}
@font-face {
    font-family: 'Clash Display Variable';
    src: url('font_style/ClashDisplay-Variable.ttf') format('truetype');
    /* Add other font formats (woff, woff2, etc.) for better browser support */
}
body{
    font-family: 'Clash Display Variable';
    src: url('font_style/ClashDisplay-Variable.ttf') format('truetype');
    width: 100%;
    /* font-family: "ClashDisplayVariable-Semibold", sans-serif; */
}
p {
    font-size: 15px;
    font-weight: 400;

}
h6 {
    margin: 0;
}
span {
    margin: 0;
}
/* h3 {

} */



/* hero  */

.hero {
    position: relative;
}

.hero img{
  width: 100%;
  height: 500px;
  
}
.logo { 
    position: absolute;
    margin: 5% 0 0 5%;
    width: 360px;
    height: 117px;
    color: #bab37c;
    display: flex;
    top: 0;;
}
.logo img {
    width: 110px;
    height: 117px;
}


.logo_text h2 {
    font-size: 30px;
    font-weight: 500;
}
.logo_text h5 {
    font-size: 19px;
    font-weight: 300;
}
.courses_img {
    width: 270px;
    height: 150px;
    border-radius: 10px;
}
.why_choose {
    background-color: black;
    padding: 50px;
}
.why_choose_text_title {
    margin: 25px 0 25px 0;
    color: #fff;
}
.why_choose_text {
    color: #B0B0B0;

}
.btn_custom button{
    background-color: #D7AB00;
}
.btn_custom button:hover{
    background-color: #f5d554;
}
.counter_test {
    width: 100%;
    height: 100px;
    background-color: aqua;
    /* padding-top: 40px; */
}
.box_1 {
    height: 100px;
}
.box_2 {
    margin: 10px;
}
.testimonial_box {
    background-color: #D9D9D9;
        
}
.testimonial_youtube {
    border-radius: 10px;
}
.discount_box {
    background-color: #F8FDC4;
    padding-top: 50px;
    padding-bottom: 30px;
}
.why_choose_img {
    border-radius: 10px;
}
.footer_box {
    background-color: black;
    color: #B0B0B0;
}
.youtube_box {
    border-radius: 10px;
}
.btn_custom {
    margin: 50px 0 50px 0;
}
.calendly_box {
    padding-top: 20px;
}
.calendly_box_colr {
    background-color: #D9D9D9;
}
.container_box_counter {
    background-color: #D7AB00;
}


/* Media queries for different screen sizes */

/* For tablets (landscape) and larger */
@media only screen and (min-width: 768px) {
    body {
        height: auto; 
    }
    .logo_text h2 {
        margin: 0;
    }
    .hero img {
        height: 500px; 
    }
    .logo {
        margin: 3% 0 0 3%; 
        width: 280px; 
        height: 90px; 
    }
    .logo img {
        width: 90px; 
        height: 90px; 
    }
    .logo_text h2 {
        font-size: 28px; 
        margin-top: 20px; 
    }
    .logo_text h5 {
        font-size: 16px; 
    }
    .container_hero_box {
        margin-top: -300px;
    }
    .hero_caption h1 {
        color: #fbfbfb;
        font-size: 48px;
        font-weight: 300;
     
    }
    .container_youtube_box {
        margin-top: 40px;

    }
    .courses_offer{
        margin-top: 50px;
    }
    .courses_img {
        width: 270px;
        height: 150px;
        border-radius: 10px;
        margin: 20px 0 20px 0;
    }
    .why_choose_img {
        width: 170px;
        height: 100px;
        margin: 30px;
    }
    .btn_custom button{
        border-radius: 10px;
        width: 120px;
        height: 45px;
    }
    .counter {
        margin-top: 40px;
    }
    .testimonial_box {
        padding-top: 80px;
        height: 400px;
        padding-bottom: 400px;
    }
    .testimonial_youtube {
        margin-bottom: 90px;
        
    }
    .footer_img {
        width: 150px;
        position: absolute;
        margin-left: 70%;
    }
    .discount_box_img {
        width: 100px;
        padding-top: 35px;
    }

    /* resgister image hiver */

    .image-container {
        position: relative;
        display: inline-block;
    }
    
    .register_now_img {
        width: 200px;
        transition: width 0.3s ease; /* Adding a smooth transition effect */
    }
    
    .register_now_img:hover {
        width: 210px;
    }
    
    /* Overlay styles */
    .register_now_img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency (0.5 is 50% transparent black) */
        z-index: 1;
        opacity: 0; /* Initially transparent */
        transition: opacity 0.3s ease; /* Adding transition for smooth effect */
    }
    
    .image-container:hover .register_now_img::before {
        opacity: 1; /* Show the overlay on hover */
    }
    
    /* Shade effect */
    .register_now_img:hover {
        filter: brightness(70%); /* Adjust brightness for shade effect */
    }
    
    /* resgister image hiver end */

    .logo_img {
        width: 200px;
        padding: 10px 0 0 38px;
    }
    .footer_address_contact {
        padding: 30px 0 0 50px;
        width: 600px;
        /* background-color: #fbfbfb; */
        word-wrap: break-word;
    }
    .calendly_box {
        min-width:280px;
        height:890px;
    }
    
    
    
    
    
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        height: auto; 
    }
    .logo_text h2{
        margin: 0;
    }
    .hero img {
        height: 400px; 
    }
    .logo {
        margin: 3% 0 0 3%; 
        width: 200px; 
        height: 65px; 
    }
    .logo img {
        width: 45px; 
        height: 43px; 
    }
    .logo_text h2 {
        font-size: 13px; 
        margin-top: 15px; 
    }
    .logo_text h5 {
        font-size: 8px; 
    }
    .container_hero_box {
        margin-top: -250px;
    }
    .hero_caption h1 {
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 500;
     
    }
    .container_youtube_box {
    margin-top: 50px;

    }
    .courses_offer{
        margin-top: 80px;
    }
    .courses_img {
        width: 270px;
        height: 150px;
        border-radius: 10px;
        margin: 30px;
    }
    .why_choose_img {
        width: 250px;
        height: 150px;
        margin: 20px 0 20px 0;
    }
    .btn_custom button{
        border-radius: 10px;
        width: 120px;
        height: 45px;
    }
    .counter {
        margin-top: 30px;
    }
    .testimonial_box {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .testimonial_youtube {
        margin-top: 50px;
    }
    .footer_img {
        width: 150px;
        position: absolute;
        margin-left: 70%;
    }
    .logo_img {
        width: 170px;
        padding: 20px 0 0 14px;
    }
    .footer_address_contact {
        padding-top:  18px;
        word-wrap: break-word;
    }
    .footer_address {
        padding-left: 18px;
        width: 140px;

    }
    .footer_contact {
        width: 190px;


    }
    .discount_box_img {
        display: none;
    }
    /* resgister image hiver */
    .image-container {
        position: relative;
        display: inline-block;
    }
    
    .register_now_img {
        width: 150px;
        transition: width 0.3s ease; /* Adding a smooth transition effect */
    }
    
    .register_now_img:hover {
        width: 160px;
    }
    
    /* Overlay styles */
    .register_now_img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency (0.5 is 50% transparent black) */
        z-index: 1;
        opacity: 0; /* Initially transparent */
        transition: opacity 0.3s ease; /* Adding transition for smooth effect */
    }
    
    .image-container:hover .register_now_img::before {
        opacity: 1; /* Show the overlay on hover */
    }
    
    /* Shade effect */
    .register_now_img:hover {
        filter: brightness(70%); /* Adjust brightness for shade effect */
    }
    /* resgister image hiver end*/
    .calendly_box {
        min-width:280px;
        height: 790px;
    }
    .counter_tex {
        font-size: 8px;
    }
    .counter_box {
        width: 90px;
    }
   
}