*{
    margin: 0px;
   
}
@font-face {
    font-family: 'Clash Display Variable';
    src: url('fonts/ClashDisplay-Variable.ttf') format('truetype');
    /* Add other font formats (woff, woff2, etc.) for better browser support */
}
/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center, .signup-content {
    display: flex;
    display: -webkit-flex; }

/* Style the custom scrollbar for webkit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent; /* or any other color */
}

body::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scrollbar */
    border-radius: 4px;
}

/* Hide the scrollbar in Firefox */

body{
    font-family: 'Clash Display Variable';
    width: 100%;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Hide scrollbar in Firefox */

    /* cursor: url('../images/design.png'), auto; */
}

/* Initially hide the loader and content */
.loader {
    display: block;
}
.content {
    display: none;
}
.myDiv {
    display: none;
}


/* Style for loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Change the background color if needed */
    z-index: 9999;
}

.loader .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader_text {
	font-size: 100px;
	color: transparent;
	position: relative;
	background-image: linear-gradient(
	  to right,
	  #462523 0,
	  #cb9b51 22%,
	  #f6e27a 45%,
	  #f6f2c0 50%,
	  #f6e27a 55%,
	  #cb9b51 78%,
	  #462523 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
  }
  
  .loader_text::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
	animation: shine 2s linear infinite;
  }
  
  @keyframes shine {
	0% {
	  left: -100%;
	}
	100% {
	  left: 100%;
	}
  }

  .lotty_style {
    width: 100px;
    /* margin: 0px; */
    margin-left: 270px;
    margin-bottom: 80px;
    /* padding-bottom: 400p; */
    /* background-color: black; */
    position: absolute;
  }

/* loader end */

p {
    font-size: 15px;
    font-weight: 400;

}
h6 {
    margin: 0;
}
span {
    margin: 0;
}

/* hero  */
.hero {
    position: relative;
}

.hero img{
  width: 100%;
  height: 500px;
  
}
.logo { 
    position: absolute;
    margin: 5% 0 0 5%;
    width: 360px;
    height: 117px;
    color: #bab37c;
    display: flex;
    top: 0;;
}
.logo img {
    width: 110px;
    height: 117px;
}
.logo_text h2 {
    font-size: 30px;
    font-weight: 500;
}
.logo_text h5 {
    font-size: 19px;
    font-weight: 300;
}
.courses_img {
    width: 270px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.courses_img:hover {
    transform: scale(1.1);
    filter: brightness(50%) opacity(0.8);
}

.why_choose {
    background-color: black;
    padding: 50px;
}
.why_choose_text_title {
    margin: 25px 0 25px 0;
    color: #fff;
}
.why_choose_text {
    color: #B0B0B0;

}
/* .btn_custom button{
    background-color: #D7AB00;
}
.btn_custom button:hover{
    background-color: #f5d554;
} */
.btn_custom {
    margin: 50px 0 50px 0;
}
/* golden button */
.golden-btn {
    display: inline-block;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    width: 70px;
    height: 2.75em;
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
                inset 0 -2px 5px 1px rgba(139,66,8,1),
                inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120,50,5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position:center;
  }
  .golden-btn:focus,
  .golden-btn:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                  inset 0 -2px 5px 1px #b17d10,
                  inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 1px solid rgba(165,93,7,.6);
    color: rgba(120,50,5,.8);
  }
  .golden-btn:active {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
                inset 0 -2px 5px 1px #b17d10,
                  inset 0 -1px 1px 3px rgba(250,227,133,1);
  }
/* golden button end */
.counter_test {
    width: 100%;
    height: 100px;
}
.box_1 {
    height: 100px;
}
.box_2 {
    margin: 10px;
}
.testimonial_box {
    background-color: #D9D9D9;
        
}
.testimonial_youtube {
    border-radius: 10px;
}
.discount_box {
    background-color: #F8FDC4;
    padding-top: 50px;
    padding-bottom: 30px;
}
.why_choose_img {
    border-radius: 10px;
}
.footer_box {
    background-color: black;
    color: #B0B0B0;
}
.youtube_box {
    border-radius: 10px;
}
.youtube_box_effect {
    transition: transform 0.3s ease, filter 0.3s ease; /* Adding transitions */
    
}
.youtube_box_effect:hover {
    transform: scale(1.05);
    z-index: 1;
}
.calendly_box {
    padding-top: 20px;
}
.calendly_box_colr {
    background-color: #D9D9D9;
}
.container_box_counter {
    background-color: #ffcc01a1;
    margin-bottom: 50px;
}
/* whatsapp */

.btn-whatsapp-pulse {
    z-index: 9999;
	background: #25d366;
	color: white;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 35px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}

.btn-whatsapp-pulse-border {
	bottom: 120px;
	right: 20px;
	animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 25px;
	border: 5px solid #25d366;
	opacity: 0.75;
	animation-name: pulse-border;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: 0.75;
	}
	75% {
		padding: 50px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/* whatsapp end */

/* registration form  */

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px; }

input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; 
}

.container_reg {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; }

    .signup-content {
        padding: 75px 0; }

    .signup-form, .signup-image {
        width: 50%;
        overflow: hidden; }

    .signup-form {
        margin-left: 75px;
        margin-right: 75px;
        padding-left: 34px; }

    .form-title {
        margin-bottom: 33px; }

    .register-form {
        width: 100%; }

    .form-group {
        position: relative;
        margin-bottom: 25px;
        overflow: hidden; }

    .form-group:last-child {
        margin-bottom: 0px; }

    .material-icons-name {
        font-size: 18px; }

    .agree-term {
        display: inline-block;
        width: auto; }

    .label-agree-term {
        position: relative;
        top: 0%;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0); }


    input {
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 6px 30px;
        font-family: Poppins;
        box-sizing: border-box; }
        input::-webkit-input-placeholder {
          color: #999; }
        input::-moz-placeholder {
          color: #999; }
        input:-ms-input-placeholder {
          color: #999; }
        input:-moz-placeholder {
          color: #999; }
        input:focus {
          border-bottom: 1px solid #222; }
          input:focus::-webkit-input-placeholder {
            color: #222; }
          input:focus::-moz-placeholder {
            color: #222; }
          input:focus:-ms-input-placeholder {
            color: #222; }
          input:focus:-moz-placeholder {
            color: #222; }
      
    input[type=checkbox]:not(old) {
      width: 2em;
      margin: 0;
      padding: 0;
      font-size: 1em;
      display: none; }
    
    input[type=checkbox]:not(old) + label {
      display: inline-block;
      line-height: 1.5em;
      margin-top: 6px; }
    
    input[type=checkbox]:not(old) + label > span {
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 15px;
      margin-bottom: 3px;
      border: 1px solid #999;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      background: white;
      background-image: -moz-linear-gradient(white, white);
      background-image: -ms-linear-gradient(white, white);
      background-image: -o-linear-gradient(white, white);
      background-image: -webkit-linear-gradient(white, white);
      background-image: linear-gradient(white, white);
      vertical-align: bottom; }
    
    input[type=checkbox]:not(old):checked + label > span {
      background-image: -moz-linear-gradient(white, white);
      background-image: -ms-linear-gradient(white, white);
      background-image: -o-linear-gradient(white, white);
      background-image: -webkit-linear-gradient(white, white);
      background-image: linear-gradient(white, white); }
    
    input[type=checkbox]:not(old):checked + label > span:before {
      content: '\f26b';
      display: block;
      color: #222;
      font-size: 11px;
      line-height: 1.2;
      text-align: center;
      font-family: 'Material-Design-Iconic-Font';
      font-weight: bold; }

    label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      color: #222; }
    
    .label-has-error {
      top: 22%; }
    
    label.error {
      position: relative;
      background: url("../images/unchecked.gif") no-repeat;
      background-position-y: 3px;
      padding-left: 20px;
      display: block;
      margin-top: 20px; }
    
    label.valid {
      display: block;
      position: absolute;
      right: 0;
      left: auto;
      margin-top: -6px;
      width: 20px;
      height: 20px;
      background: transparent; }
      label.valid:after {
        font-family: 'Material-Design-Iconic-Font';
        content: '\f269';
        width: 100%;
        height: 100%;
        position: absolute;
        /* right: 0; */
        font-size: 16px;
        color: green; }
    
    .label-agree-term {
      position: relative;
      top: 0%;
      transform: translateY(0);
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0); }

    .signup-image {
      margin: 0 55px;
      margin-top: 45px; }

    .signup-image-link {
      font-size: 14px;
      color: #222;
      display: block;
      text-align: center; }

    figure {
      margin: 0; }

    .form-submit {
      display: inline-block;
      background: #6dabe4;
      color: #fff;
      border-bottom: none;
      width: auto;
      padding: 15px 39px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      margin-top: 25px;
      cursor: pointer; }
    .form-submit:hover {
      background: #4292dc; }
    
    /* .gender_div {
        padding-right: 22px;
        color: #118e3f;
    } */


/* registration form  */

/* Media queries for different screen sizes */

/* For tablets (landscape) and larger */
@media only screen and (min-width: 768px) {
    body {
        height: auto; 
    }
    .logo_text h2 {
        margin: 0;
    }
    .hero img {
        height: 500px; 
    }
    .logo {
        margin: 3% 0 0 3%; 
        width: 280px; 
        height: 90px; 
    }
    .logo img {
        width: 90px; 
        height: 90px; 
    }
    .logo_text h2 {
        font-size: 28px; 
        margin-top: 20px; 
    }
    .logo_text h5 {
        font-size: 16px; 
    }
    .container_hero_box {
        margin-top: -300px;
    }
    .hero_caption h1 {
        color: #fbfbfb;
        font-size: 48px;
        font-weight: 300;
     
    }
    .container_youtube_box {
        margin-top: 40px;

    }
    .courses_offer{
        margin-top: 50px;
    }
    .courses_img {
        width: 270px;
        height: 150px;
        border-radius: 10px;
        margin: 20px 0 20px 0;
    }
    .why_choose_img {
        width: 170px;
        height: 100px;
        margin: 30px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    .why_choose_img:hover {
        transform: scale(1.1);
        filter: brightness(50%) opacity(0.8);
    }
    
    .btn_custom button{
        border-radius: 10px;
        width: 140px;
        height: 45px;
    }
    .counter {
        margin-top: 40px;
    }
    .testimonial_box {
        padding-top: 80px;
        height: 400px;
        padding-bottom: 400px;
    }
    .testimonial_youtube {
        margin-bottom: 90px;
        
    }
    .embed-responsive-item {
        transition: transform 0.3s ease;
    }
    
    .zoom-effect:hover {
        transform: scale(1.05);
        z-index: 1;
        filter: brightness(50%) opacity(0.8);
    }
    .footer_img {
        width: 150px;
        position: absolute;
        margin-left: 70%;
    }
    .discount_box_img {
        width: 100px;
        padding-top: 35px;
    }
    .discount_box_img_hover {
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    .discount_box_img_hover:hover {
        transform: scale(1.1);
    }

    /* resgister image hover */
  
    .register_now_img {
        width: 200px;
        transition: transform 0.3s ease, filter 0.3s ease; /* Adding transitions */
    }
    
    .register_now_img:hover {
        transform: scale(1.05); /* Scale up the image by 5% on hover */
        filter: brightness(50%) opacity(0.8); /* Apply filter for darkened effect */
    }

    /* resgister image hiver */

    .logo_img {
        width: 200px;
        padding: 10px 0 0 38px;
    }
    .footer_address_contact {
        padding: 30px 0 0 50px;
        width: 600px;
        word-wrap: break-word;
    }
    .calendly_box {
        min-width:280px;
        height:890px;
    }
    .container_reg {
        max-width: 1200px; }


}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        height: auto; 
    }
    .logo_text h2{
        margin: 0;
    }
    .hero img {
        height: 400px; 
    }
    .logo {
        margin: 3% 0 0 3%; 
        width: 200px; 
        height: 65px; 
    }
    .logo img {
        width: 45px; 
        height: 43px; 
    }
    .logo_text h2 {
        font-size: 13px; 
        margin-top: 15px; 
    }
    .logo_text h5 {
        font-size: 8px; 
    }
    .container_hero_box {
        margin-top: -250px;
    }
    .hero_caption h1 {
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 500;
     
    }
    .container_youtube_box {
    margin-top: 50px;

    }
    .courses_offer{
        margin-top: 80px;
    }
    .courses_img {
        width: 270px;
        height: 150px;
        border-radius: 10px;
        margin: 30px;
    }
    .why_choose_img {
        width: 250px;
        height: 150px;
        margin: 20px 0 20px 0;
        background-color: #D9D9D9;
    }
    .btn_custom button{
        border-radius: 10px;
        width: 130px;
        height: 45px;
    }
    .counter {
        margin-top: 30px;
    }
    .testimonial_box {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .testimonial_youtube {
        margin-top: 50px;
    }
    .footer_img {
        width: 150px;
        position: absolute;
        margin-left: 70%;
    }
    .logo_img {
        width: 170px;
        padding: 20px 0 0 14px;
    }
    .footer_address_contact {
        padding-top:  18px;
        word-wrap: break-word;
    }
    .footer_address {
        padding-left: 18px;
        width: 140px;

    }
    .footer_contact {
        width: 190px;


    }
    .discount_box_img {
        display: none;
    }
    /* resgister image hover */
    
    .register_now_img {
        width: 150px;
        transition: transform 0.3s ease, filter 0.3s ease; /* Adding transitions */
    }
    
    .register_now_img:hover {
        transform: scale(1.05); /* Scale up the image by 5% on hover */
        filter: brightness(50%) opacity(0.8); /* Apply filter for darkened effect */
    }
    /* resgister image hiver end */

    .calendly_box {
        min-width:280px;
        height: 790px;
    }
    .counter_tex {
        font-size: 7px;
    }
    .counter_box {
        width: 91.5px;
    }
    .container_reg {
        width: calc( 100% - 30px);
        max-width: 100%; } 

    .signup-content, .signin-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center; }

    .signup-form {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        /* box-sizing: border-box; */
        padding: 0 30px; }

    .signup-form, .signup-image {
        width: auto; }
    
    .form-title {
        text-align: center; }

    .signup-form {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        /* box-sizing: border-box; */
        padding: 0 30px; }

    .form-button {
        text-align: center; }
}