*{
    margin: 0px;
   
}
@font-face {
    font-family: 'Clash Display Variable';
    src: url('font_style/ClashDisplay-Variable.ttf') format('truetype');
    /* Add other font formats (woff, woff2, etc.) for better browser support */
}

/* Style the custom scrollbar for webkit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent; /* or any other color */
}

body::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scrollbar */
    border-radius: 4px;
}

/* Hide the scrollbar in Firefox */

body{
    font-family: 'Clash Display Variable';
    width: 100%;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Hide scrollbar in Firefox */
}

/* Initially hide the loader and content */
.loader,
.content {
    display: none;
}

/* Style for loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Change the background color if needed */
    z-index: 9999;
}

.loader .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader_text {
	font-size: 100px;
	color: transparent;
	position: relative;
	background-image: linear-gradient(
	  to right,
	  #462523 0,
	  #cb9b51 22%,
	  #f6e27a 45%,
	  #f6f2c0 50%,
	  #f6e27a 55%,
	  #cb9b51 78%,
	  #462523 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
  }
  
  .loader_text::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
	animation: shine 2s linear infinite;
  }
  
  @keyframes shine {
	0% {
	  left: -100%;
	}
	100% {
	  left: 100%;
	}
  }

/* loader end */

p {
    font-size: 15px;
    font-weight: 400;

}
h6 {
    margin: 0;
}
span {
    margin: 0;
}

/* hero  */
.hero {
    position: relative;
}

.hero img{
  width: 100%;
  height: 500px;
  
}
.logo { 
    position: absolute;
    margin: 5% 0 0 5%;
    width: 360px;
    height: 117px;
    color: #bab37c;
    display: flex;
    top: 0;;
}
.logo img {
    width: 110px;
    height: 117px;
}
.logo_text h2 {
    font-size: 30px;
    font-weight: 500;
}
.logo_text h5 {
    font-size: 19px;
    font-weight: 300;
}
.courses_img {
    width: 270px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.courses_img:hover {
    transform: scale(1.1);
    filter: brightness(50%) opacity(0.8);
}

.why_choose {
    background-color: black;
    padding: 50px;
}
.why_choose_text_title {
    margin: 25px 0 25px 0;
    color: #fff;
}
.why_choose_text {
    color: #B0B0B0;

}
.btn_custom button{
    background-color: #D7AB00;
}
.btn_custom button:hover{
    background-color: #f5d554;
}
.counter_test {
    width: 100%;
    height: 100px;
}
.box_1 {
    height: 100px;
}
.box_2 {
    margin: 10px;
}
.testimonial_box {
    background-color: #D9D9D9;
        
}
.testimonial_youtube {
    border-radius: 10px;
}
.discount_box {
    background-color: #F8FDC4;
    padding-top: 50px;
    padding-bottom: 30px;
}
.why_choose_img {
    border-radius: 10px;
}
.footer_box {
    background-color: black;
    color: #B0B0B0;
}
.youtube_box {
    border-radius: 10px;
}
.youtube_box_effect {
    transition: transform 0.3s ease, filter 0.3s ease; /* Adding transitions */
    
}
.youtube_box_effect:hover {
    transform: scale(1.05);
    z-index: 1;
}
.btn_custom {
    margin: 50px 0 50px 0;
}
.calendly_box {
    padding-top: 20px;
}
.calendly_box_colr {
    background-color: #D9D9D9;
}
.container_box_counter {
    background-color: #D7AB00;
    margin-bottom: 50px;
}

/* Media queries for different screen sizes */

/* For tablets (landscape) and larger */
@media only screen and (min-width: 768px) {
    body {
        height: auto; 
    }
    .logo_text h2 {
        margin: 0;
    }
    .hero img {
        height: 500px; 
    }
    .logo {
        margin: 3% 0 0 3%; 
        width: 280px; 
        height: 90px; 
    }
    .logo img {
        width: 90px; 
        height: 90px; 
    }
    .logo_text h2 {
        font-size: 28px; 
        margin-top: 20px; 
    }
    .logo_text h5 {
        font-size: 16px; 
    }
    .container_hero_box {
        margin-top: -300px;
    }
    .hero_caption h1 {
        color: #fbfbfb;
        font-size: 48px;
        font-weight: 300;
     
    }
    .container_youtube_box {
        margin-top: 40px;

    }
    .courses_offer{
        margin-top: 50px;
    }
    .courses_img {
        width: 270px;
        height: 150px;
        border-radius: 10px;
        margin: 20px 0 20px 0;
    }
    .why_choose_img {
        width: 170px;
        height: 100px;
        margin: 30px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    .why_choose_img:hover {
        transform: scale(1.1);
        filter: brightness(50%) opacity(0.8);
    }
    
    .btn_custom button{
        border-radius: 10px;
        width: 120px;
        height: 45px;
    }
    .counter {
        margin-top: 40px;
    }
    .testimonial_box {
        padding-top: 80px;
        height: 400px;
        padding-bottom: 400px;
    }
    .testimonial_youtube {
        margin-bottom: 90px;
        
    }
    .embed-responsive-item {
        transition: transform 0.3s ease;
    }
    
    .zoom-effect:hover {
        transform: scale(1.05);
        z-index: 1;
        filter: brightness(50%) opacity(0.8);
    }
    .footer_img {
        width: 150px;
        position: absolute;
        margin-left: 70%;
    }
    .discount_box_img {
        width: 100px;
        padding-top: 35px;
    }
    .discount_box_img_hover {
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    .discount_box_img_hover:hover {
        transform: scale(1.1);
    }

    /* resgister image hover */
  
    .register_now_img {
        width: 200px;
        transition: transform 0.3s ease, filter 0.3s ease; /* Adding transitions */
    }
    
    .register_now_img:hover {
        transform: scale(1.05); /* Scale up the image by 5% on hover */
        filter: brightness(50%) opacity(0.8); /* Apply filter for darkened effect */
    }

    /* resgister image hiver */

    .logo_img {
        width: 200px;
        padding: 10px 0 0 38px;
    }
    .footer_address_contact {
        padding: 30px 0 0 50px;
        width: 600px;
        word-wrap: break-word;
    }
    .calendly_box {
        min-width:280px;
        height:890px;
    }
    
    
    
    
    
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        height: auto; 
    }
    .logo_text h2{
        margin: 0;
    }
    .hero img {
        height: 400px; 
    }
    .logo {
        margin: 3% 0 0 3%; 
        width: 200px; 
        height: 65px; 
    }
    .logo img {
        width: 45px; 
        height: 43px; 
    }
    .logo_text h2 {
        font-size: 13px; 
        margin-top: 15px; 
    }
    .logo_text h5 {
        font-size: 8px; 
    }
    .container_hero_box {
        margin-top: -250px;
    }
    .hero_caption h1 {
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 500;
     
    }
    .container_youtube_box {
    margin-top: 50px;

    }
    .courses_offer{
        margin-top: 80px;
    }
    .courses_img {
        width: 270px;
        height: 150px;
        border-radius: 10px;
        margin: 30px;
    }
    .why_choose_img {
        width: 250px;
        height: 150px;
        margin: 20px 0 20px 0;
        background-color: #D9D9D9;
    }
    .btn_custom button{
        border-radius: 10px;
        width: 120px;
        height: 45px;
    }
    .counter {
        margin-top: 30px;
    }
    .testimonial_box {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .testimonial_youtube {
        margin-top: 50px;
    }
    .footer_img {
        width: 150px;
        position: absolute;
        margin-left: 70%;
    }
    .logo_img {
        width: 170px;
        padding: 20px 0 0 14px;
    }
    .footer_address_contact {
        padding-top:  18px;
        word-wrap: break-word;
    }
    .footer_address {
        padding-left: 18px;
        width: 140px;

    }
    .footer_contact {
        width: 190px;


    }
    .discount_box_img {
        display: none;
    }
    /* resgister image hover */
    
    .register_now_img {
        width: 150px;
        transition: transform 0.3s ease, filter 0.3s ease; /* Adding transitions */
    }
    
    .register_now_img:hover {
        transform: scale(1.05); /* Scale up the image by 5% on hover */
        filter: brightness(50%) opacity(0.8); /* Apply filter for darkened effect */
    }
    /* resgister image hiver end */

    .calendly_box {
        min-width:280px;
        height: 790px;
    }
    .counter_tex {
        font-size: 7px;
    }
    .counter_box {
        width: 91.5px;
    }
   
}